.w3layouts-banner-top {
  background: url(../images/helmond.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
.w3layouts-banner-top1 {
  background: url(../images/kamer.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
.w3layouts-banner-top2 {
  background: url(../images/kasteel-helmond.jpeg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
.w3layouts-banner-top,
.w3layouts-banner-top1,
.w3layouts-banner-top2 {
  min-height: 700px;
}
.w3ls-banner {
  position: relative;
}
